<%- include('../layout/header') %> >


    <div class="socialLine">Social!</div>


    <!-- IMAGE CONTAINER -->

    <div class="imageContainer">
        <!-- <div class="imageCard">
            <image src="/images/landscape (3).jpg"></image>
            <p class="imageAddress">Raiway Colony, North Lakhimpur</p>
            <div class="cardButtonContainer">
                <button class="cardButton" id="btn_approve">Approve</button>
                <button class="cardButton" id="btn_discard">Discard</button>
            </div>
        </div>

        <div class="imageCard">
            <image src="/images/landscape (3).jpg"></image>
            <p class="imageAddress">Raiway Colony, North Lakhimpur</p>
            <div class="cardButtonContainer">
                <button class="cardButton" id="btn_approve">Approve</button>
                <button class="cardButton" id="btn_discard">Discard</button>
            </div>
        </div> -->

        <% markedLocations.forEach(mLoc => {  %>

            <div class="imageCard">

                <img id="img" width="300" height="300" src="<%= mLoc.image %>" />
                <p class="imageAddress">
                    <%= mLoc.address %>
                </p>

                <form method="POST" action="">
                    <input type="hidden" name="image" value="<%= mLoc.image %>">
                    <input type="hidden" name="address" value="<%=mLoc.address  %>">
                    <input type="hidden" name="id" value="<%= mLoc.id %>">


                    <div class="cardButtonContainer">
                        <button formaction="/locations/approve" class="cardButton" id="btn_approve"> Approve</button>
                        <button formaction="/locations/discard" class="cardButton" id="btn_discard">Discard</button>
                    </div>
                </form>

            </div>
            <% }); %>

                <!-- <div class="imageCard">
            <image src="/images/landscape (3).jpg"></image>
            <p class="imageAddress">Raiway Colony, North Lakhimpur</p>
            <div class="cardButtonContainer">
                <button class="cardButton" id="btn_approve">Approve</button>
                <button class="cardButton" id="btn_discard">Discard</button>
            </div>
        </div>

        <div class="imageCard">
            <image src="landscape (3).jpg"></image>
            <p class="imageAddress">Raiway Colony, North Lakhimpur</p>
            <div class="cardButtonContainer">
                <button class="cardButton" id="btn_approve">Approve</button>
                <button class="cardButton" id="btn_discard">Discard</button>
            </div>
        </div>

        <div class="imageCard">
            <image src="landscape (3).jpg"></image>
            <p class="imageAddress">Raiway Colony, North Lakhimpur</p>
            <div class="cardButtonContainer">
                <button class="cardButton" id="btn_approve">Approve</button>
                <button class="cardButton" id="btn_discard">Discard</button>
            </div>
        </div> -->

    </div>

    </body>

    </html>