<%- include('../layout/header') %>


    <!-- MONDAY -->

    <form class="formAssignRoutes" method="POST" action="/drivers/assign-route">
        <div class="weekdayHeader">
            <%= today %>
        </div>

        <% if(today === 'Sunday'){ %>

            <div class="assignContainer">

                <fieldset class="driverFieldset">

                    <% drivers.forEach(driver => {  %>

                        <p><input id="<%= driver.id %>" type="radio" name="driverId" value="<%= driver.id %>" class="driverCheckbox">
                            <span class="checkboxText">
                        &nbsp&nbsp&nbsp
                      <strong><%= driver.name %> </strong>  
                        </span>

                            <small>
                       <b> (<code>Assigned Route</code>-<%= driver.route %>)</b>
                        </small>
                        </p>

                        <% }); %>
                </fieldset>


                <fieldset class="routeFieldset">

                    <% routes.forEach(route => {  %>

                        <% if(route.id !== 0) {%>

                            <p><input type="radio" id="<%= route.id %>" name="route" value="<%= route.id %>" class="routeCheckbox"><span class="checkboxText">
                        &nbsp&nbsp&nbsp
                       <strong> <%= route.name %></strong>
                    </span></p>

                            <% } %>

                                <% }); %>
                </fieldset>

                <div class="btnAssignContainer">
                    <div class="btnAssign">
                        <button onclick="removeDriver(); removerRoute();" type="submit" id="btn_assign_route"> Assign </button>
                    </div>
                </div>
            </div>


            <% } else {%>
                <div class="container jumbotron">
                    <h4>Sunday, our office is closed!</h4>
                </div>
                <% }; %>

    </form>

    <script src="/js/assign.js"></script>

    <script>
        function removeDriver(driverId) {
            document.getElementById().remove();
        }

        function removerRoute(routeId) {
            document.getElementById(routeId).remove();
        }
    </script>

    </body>

    </html>