<%- include('../layout/header') %>


    <!-- MONDAY -->

    <form class="formAssignRoutes" method="POST" action="/drivers/assign-route">
        <div class="weekdayHeader">Monday</div>
        <div class="assignContainer">

            <fieldset class="driverFieldset">

                <% drivers.forEach(driver => {  %>

                    <p><input type="radio" name="driverId" value="<%= driver.id %>" class="driverCheckbox"><span class="checkboxText">
                        &nbsp&nbsp&nbsp
                        <%= driver.name %> 
                        </span></p>

                    <% }); %>
            </fieldset>


            <fieldset class="routeFieldset">

                <% routes.forEach(route => {  %>

                    <% if(route.id !== 0) {%>

                        <p><input type="radio" name="route" value="<%= route.id %>" class="routeCheckbox"><span class="checkboxText">
                        &nbsp&nbsp&nbsp
                        <%= route.name %>
                    </span></p>
                        <% } %>

                            <% }); %>
            </fieldset>
            <div class="btnAssignContainer">
                <div class="btnAssign">
                    <button type="submit" id="btn_assign_route"> Assign </button>
                </div>
            </div>
        </div>
        </div>
    </form>

    <script src="/js/assign.js"></script>
    </body>

    </html>