<%- include('../layout/header') %>


    <!-- LIST -->
    <div class="driversList">
        <% drivers.forEach(driver => {  %>
            <p class="text-info driversListItem rectangle">
                <strong> Name:
                <%= driver.name %>
                    </strong>
                <br> ID:
                <%= driver.id %>
                    <br> Assigned Route:
                    <% if(driver.route){ %>
                        <%= driver.route %>
                            <% }else { %>
                                <small>No route assigned yet!</small>
                                <% } %>
            </p>
            <% }); %>
    </div>


    <%- include('../layout/footer') %>